.video {
  background: url('../img/youtube.png');
  padding: 90px 0 70px 0;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 520px) {
    text-align: center;
  }

  h2 {
    font-family: Montserrat;
    font-size: 28px;
    color: #FFF;
    font-weight: 900;
    letter-spacing: 2.24px;
    text-transform: uppercase;
    margin-bottom: 31px;
  }

  img {
    max-width: 630px;

    @media (max-width: 520px) {
      max-width: 80%;
    }
  }
}